<!--This layout used for User side views-->
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="~/Content/jquery-ui.css">
  <script src="~/Scripts/jquery-1.10.2.js"></script>
  <script src="~/Scripts/jquery-ui.js"></script>

  

    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    

    <link rel="shortcut icon" href="~/Content/Images/tIcon.ico" />

    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    
    
    <title>@ViewBag.Title</title>
    
    <style>html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size:15px;
  
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #808080;
}
</style>
</head>

<body class="img-responsive">


    
    @if(Session["User"]==null){
        <a href="~/My"><img src="~/Content/Images/header.png" style="width:350px;height:128px" class="img-responsive"></a>

    <nav class="navbar navbar-default" role="navigation">
        

            <!--header section -->

            <div class="navbar-header"  style="font-family: 'Old English Text MT';">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/My" style="font-family:'Global User Interface'">Blood Donation System</a>
            </div>
            <!-- menu section -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right" style="font-size: 20px">

                    <!--<li><a href="~/My/Login " style="font-size: 20px">Login</a></li>-->
                   
                    <li>@Html.ActionLink("Login", "Login")</li>
                   <!-- <li><a href="~/My/Register ">Register</a></li>-->
                    <li>@Html.ActionLink("Register", "Register")</li>
                    <!--<li><a href="~/My/NeedBlood">Need Blood</a></li>-->
                    <li>@Html.ActionLink("Need Blood", "NeedBlood")</li>
                    <!--<li><a href="~/My/AboutBlood" >About Blood</a></li>-->
                    <li>@Html.ActionLink("About Blood", "AboutBlood")</li>
                    
                    <!--<li><a href="~/My/AmazingStories">Quotations</a></li>-->
                    <!--<li>@Html.ActionLink("Quotations", "AmazingStories")</li>-->
                    <li>@Html.ActionLink("Quotations", "AmazingStories", "My")</li>
                    <!--<li><a href="~/My/FeedBack" >FeedBack</a></li>-->
                    <li>@Html.ActionLink("Feedback", "FeedBack")</li>
                    <!--<li><a href="#" >About Us</a></li>-->
                    
                    
                </ul>
            </div>
        
    </nav>
    }
    else{
        <a href="~/My/DoLogin"><img src="~/Content/Images/header.png" style="width:350px;height:128px" class="img-responsive"></a>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!--header section -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/My/DoLogin" style="font-family:'Global User Interface'">Profile</a>
            </div>
            <!-- menu section -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right" style="font-size: 20px">
                    <!--<li><a href="~/My/Logout" style="font-size: 20px">Logout</a></li>-->
                    <li>@Html.ActionLink("Logout", "Logout")</li>
                    <!--<li><a href="~/My/ChangeInfo" style="font-size: 20px">Change info.</a></li>-->
                    <li>@Html.ActionLink("Update Profile", "ChangeInfo")</li>
                    <!--<li><a href="~/My/Feedback" style="font-size: 20px">Feedback</a></li>-->
                    <li>@Html.ActionLink("Feedback", "Feedback")</li>
                    
                </ul>
            </div>
        </div>
    </nav>
    }

   


    @RenderBody()
    


     <footer>
      <div class="container">
        <p style="color:white; font-size:20px" class="text-muted">Developed By Furqan Haider. BITF12M008</p>
      </div>
    </footer>
        @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Bundles/jquery");
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Scripts/jquery-1.10.1.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox-buttons.js"></script>
    <script src="~/Scripts/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <Script type="text/javascript">
        $(document).ready(function() {
            /*
			 *  Simple image gallery. Uses default settings
			 */

            $('.fancybox').fancybox();

            /*
			 *  Different effects
			 */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title : {
                        type : 'outside'
                    },
                    overlay : {
                        speedOut : 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect  : 'none',
                closeEffect	: 'none',

                helpers : {
                    title : {
                        type : 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS    : 'fancybox-custom',
                closeClick : true,

                openEffect : 'none',

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    overlay : {
                        css : {
                            'background' : 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect : 'elastic',
                openSpeed  : 150,

                closeEffect : 'elastic',
                closeSpeed  : 150,

                closeClick : true,

                helpers : {
                    overlay : null
                }
            });

            /*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

            $('.fancybox-buttons').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    buttons	: {}
                },

                afterLoad : function() {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });


            /*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

            $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,
                arrows    : false,
                nextClick : true,

                helpers : {
                    thumbs : {
                        width  : 50,
                        height : 50
                    }
                }
            });

            /*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
            $('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
				    openEffect : 'none',
				    closeEffect : 'none',
				    prevEffect : 'none',
				    nextEffect : 'none',

				    arrows : false,
				    helpers : {
				        media : {},
				        buttons : {}
				    }
				});

            /*
			 *  Open manually
			 */

            $("#fancybox-manual-a").click(function() {
                $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function() {
                $.fancybox.open({
                    href : 'iframe.html',
                    type : 'iframe',
                    padding : 5
                });
            });

            $("#fancybox-manual-c").click(function() {
                $.fancybox.open([
					{
					    href : '1_b.jpg',
					    title : 'My title'
					}, {
					    href : '2_b.jpg',
					    title : '2nd title'
					}, {
					    href : '3_b.jpg'
					}
                ], {
                    helpers : {
                        thumbs : {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });


        });
        </Script>
    </body>
</html>
