@model IEnumerable<BloodDonationSystem.Models.Donor>



@{
    ViewBag.Title = "FetchDonorInfo";
}
<br /><br /><br />
<div class="row" style="color:deepskyblue">
    <div class="col-md-2"></div>
    <div class="col-md-5">
<table border="1"  style:"align:center" cellpadding="10" class="table table-striped table-bordered table-hover table-condensed table-responsive">
     <tr style="font-size:20px; background-color:deepskyblue;color:white" >
            <td><label style="font-family:Batang"> Name</label></td>
            <td><label style="font-family:Batang"> City </label></td>
            <td><label style="font-family:Batang">Blood Group</label></td>
            <td><label style="font-family:Batang"> Gender </label></td>
            <td><label style="font-family:Batang"> Contact Number </label></td>
        </tr>
@foreach (var a in Model) { 
    
        <tr style="font-size:20px">
            <td>@a.Name</td>
            <td>@a.City</td>
            <td>@a.BloodGroup</td>
            <td>@a.Sex</td>
            <td>@a.ContactNumber</td>
        </tr>
 }
    </table>
        </div>
    </div>
